/* All styles for your header Components live here */
.header {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.title {
  display: flex;
  flex-direction: row;

}

#at {
  font-size: 12px;
  color: grey;
  padding-left: 10px;
  align-self: center;
}

.image {
  padding: 10px;
}
